In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [6]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [31]:
race_values = df['race'].unique()

In [27]:
dict_races = {}
for race in race_values:
    number = len(df[df['race']==race ])
    dict_races[race] = number

In [29]:
data_races = pd.Series(dict_races)

In [30]:
data_races

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

 # What is the average age of men?

In [33]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [53]:
round(df[df['sex'] == 'Male']['age'].mean(),1)

39.4

# What is the percentage of people who have a Bachelor's degree?

In [44]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [39]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [56]:
round(100*df[df['education-num']==13].size /df.size,1)

16.4

 # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    
 # What percentage of people without advanced education make more than 50K?

In [57]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [61]:
mask = (df['education'] =='Bachelors') | (df['education'] == 'Masters') | (df['education']== 'Doctorate')

In [65]:
df.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [80]:
people_ad_degrees = len(df[mask])

In [81]:
more_fifty =len(df[mask & (df['salary']=='>50K')])

In [89]:
higher_education_rich = round(100*more_fifty/people_ad_degrees,1)

In [95]:
low_degree_df = df[mask==False]

In [96]:
low_more_fifty = low_degree_df[low_degree_df['salary']=='>50K']

In [97]:
lower_education_rich = round(100*len(low_more_fifty)/len(low_degree_df),1)

In [98]:
lower_education_rich

17.4

In [99]:
higher_education_rich

46.5

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [104]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [107]:
min_workers = df[df['hours-per-week']==min_work_hours] 
num_min_workers = len(min_workers)

In [119]:
min_workers_rich = min_workers[min_workers['salary'] == '>50K']
num_min_workers_rich = len(min_workers_rich)

In [122]:
rich_percentage = round(100*(num_min_workers_rich/num_min_workers))

In [123]:
rich_percentage

10

# What country has the highest percentage of people that earn >50K?

In [125]:
countries = df['native-country'].unique()
countries

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [128]:
highest_earning_country_percentage = 0 
highest_earning_country = 0
for country in countries:
    total = len(df[df['native-country'] == country])
    rich = len(df[(df['native-country'] == country) &(df['salary']=='>50K')])
    perc = round(100*rich/total,1)
    if perc >= highest_earning_country_percentage:
        highest_earning_country_percentage = perc
        highest_earning_country = country

In [129]:
highest_earning_country

'Iran'

In [130]:
highest_earning_country_percentage

41.9

 # Identify the most popular occupation for those who earn >50K in India.

In [145]:
India_richs = df[(df['salary']== '>50K')& (df['native-country']== 'India')]['occupation'].value_counts()
max_freq = India_richs.max()
occupation = India_richs[India_richs==max_freq].index[0]

In [146]:
occupation

'Prof-specialty'